<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <classPathEntry location="mybatis-generate/mysql-connector-java-5.1.6.jar"/>
    <context id="mybatistest" targetRuntime="MyBatis3"
             introspectedColumnImpl="com.jackmanwu.mybatistest.common.IntrospectedColumnImpl">
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3307/mytest?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf8"
                        userId="root"
                        password="wujinlei"/>
        <javaTypeResolver type="com.jackmanwu.mybatistest.common.JavaTypeResolverImpl">
            <property name="forceBigDecimals" value="false"/>
            <property name="useJSR310Types" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.jackmanwu.mybatistest.model.pojo" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mybatis.sql.mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="MIXEDMAPPER" targetPackage="com.jackmanwu.mybatistest.model.mapper"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="account">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>